  *{
    padding: 0px 10px;
    margin: 0;
    /* background:#F5FCFF; */
  }
  
  
  .nav{
    /* background: #000;: black !important; */
/* display: flex; */
justify-content:  space-around;
}
.by{
  background:#F5FCFF !important;
}
.my{
  display: flex;
  flex-direction: column;
  /* gap: 60px; */
}
