  *{
    padding: 0px 10px;
    margin: 0;
    /* background:#F5FCFF; */
  }
  
  
  .nav{
    /* background: #000;: black !important; */
/* display: flex; */
justify-content:  space-around;
}
.by{
  background:#F5FCFF !important;
}
.my{
  display: flex;
  flex-direction: column;
  /* gap: 60px; */
}
.gallery {
  background-color:
  #F5FCFF ;
  outline: 20px solid 0px 10px 0px 10px !important;
  display: flex !important;
  flex-direction: column !important;
justify-content: space-around !important;
  /* gap: 60px; */
}
.link a{
  /* text-decoration: none; */
  color: black !important;
}