  *{
    padding: 0px 10px;
    margin: 0;
    /* background:#F5FCFF; */
  }
  
  
  .nav{
    /* background: #000;: black !important; */
/* display: flex; */
justify-content:  space-around;
}
.by{
  background:#F5FCFF !important;
}
.my{
  display: flex;
  flex-direction: column;
  /* gap: 60px; */
}
.gallery {
  background-color:
  #F5FCFF ;
  outline: 20px solid 0px 10px 0px 10px !important;
  display: flex !important;
  flex-direction: column !important;
justify-content: space-around !important;
  /* gap: 60px; */
}
.link a{
  /* text-decoration: none; */
  color: black !important;
}
.terminal{
background: #F5FCFF !important;

}
.cc{
  padding-left: 110px !important;
}
.cart{
  background: #b61919 !important;
}
.form{
  background: #F5FCFF !important;
  padding:  0 15%;
  /* padding-left: 15%; */
}
.formm{
display: flex !important ;
flex-direction: row !important;
gap: 20% !important;
}
.buttonn{
  background:#5E3BEE;
  border: #5E3BEE;
  border-radius: 4px;
  color: white;

}
.heading{
  text-align: center;
  margin-bottom: 40px;
}
.svgg{
  /* width: 10% !important; */
}
.face{
  /* background: #000 */
  /* ; */
  /* display: flex   ; */
  /* justify-content: left; */
}
.containerr{
  background:#F5FCFF ;
  padding: 10px !important;
  padding-top: 10px !important;
}
#last{
  background:;
  display: flex !important;
  /* color: #b61919; */
  flex-direction: row;
  border-top: 2px;
  /* gap: 10px; */
  /* justify-content: space-evenly; */
}
#last a{
  /* text-decoration: none; */
  color: black;
  display: flex;
  justify-content: end !important;
  text-align:start !important;
  font-weight: 500;
}
#last h6{
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* color: #b61919 */
  ;padding-right: 50%;
}